@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.header-links a {
  @apply hover:font-semibold;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  display: flex;
  flex: 0 0 20%;
  align-items: center;
  justify-content: center;
  min-width: 80px;

  @media only screen and (max-width: 768px) {
    flex: 0 0 30%;
  }
}

.embla__controls {
  display: flex;
  /* justify-content: space-between; */
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: space-around;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.links a {
  margin-right: 5rem;
  cursor: pointer;
}

@theme inline {
  --color-secondary: #fa5140;
  --color-secondary-darker: #e03c2c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-light: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

button {
  border-radius: 12px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
